<h2>
  <mark class="red">VINCI</mark> is a research institute at SFU focusing on
  <mark class="red">V</mark>isual and
  <mark class="red">IN</mark>teractive
  <mark class="red">C</mark>omputing
</h2>

Our members cover a wide range of research areas, including:
- <mark class="tag">VC</mark> : Visual Computing (graphics, vision, AI/ML, mathematical modeling, etc.)
- <mark class="tag">IC</mark> : Interactive Computing (HCI, visualization, human-centred design, etc.)
- <mark class="tag">SI</mark> : Social Implications (digital media, ethics, policy, philosophy, governance, etc.)
- <mark class="tag">DA</mark> : Domain-Specific Applications (languages, health, music, learning, business, history, etc.)
