VINCI is affiliated with research groups and initiatives that are aligned with the mission of the institute, and that target the development of the local research community in the areas of visual, interactive, and intelligent computing.

<hr class="section-separator-line">
<h3><a href="https://neuroai.sfu.ca/" target="_blank"><img style="height: 130px; margin: 5px; float: right;" src="/assets/groups/neuro-ai.jpg">SFU Neuro+AI Research Initiative</a></h3>
The SFU Neuro+AI initiative is led jointly by the <a href="https://www.sfu.ca/neuro-institute.html" target="_blank">Institute for Neuroscience and Neurotechnology</a> and <a href="https://vinci.sfu.ca/" target="_blank">VINCI</a>, bringing together researchers from neuroscience, neurotechnology, and computer science. The goals are to: i) accelerate discoveries about how the brain works and how to keep it healthy, and ii) help build AI systems that are more capable and more responsible. To explore the people, projects, and research happening across this initiative, visit the SFU Neuro+AI website at <b><a href="https://neuroai.sfu.ca/">neuroai.sfu.ca</a></b>.
<!-- <br> -->
<hr class="section-separator-line">

<h3><a href="https://gruvi.cs.sfu.ca/" target="_blank">GrUVi Group<img style="height: 100px; margin: 5px; float: right;" src="/assets/groups/gruvi.png"></a></h3>
The GrUVi group brings together researchers working on visual computing (computer graphics, computer vision, and related areas). The goal is to accelerate discoveries about how to create and understand visual content, and to help build AI systems that enable people to work with visual data. See the group website at <b><a href="https://gruvi.cs.sfu.ca/" target="_blank">gruvi.cs.sfu.ca</a></b> for more information.
<!-- <br> -->
<hr class="section-separator-line">
<h3><a href="https://ml.cs.sfu.ca/" target="_blank">Machine Learning Group<img style="height: 100px; margin: 5px; float: right;" src="/assets/groups/sfuai_wide.png"></a></h3>
The machine learning group brings together researchers working on machine learning, deep learning, and artificial intelligence, as well as a variety of application domains. The group carries out research in the fundamentals of machine learning and intelligent computing methods. See the group website at <b><a href="https://ml.cs.sfu.ca/" target="_blank">ml.cs.sfu.ca</a></b> for more information.
<!-- <br> -->
<hr class="section-separator-line">
<a href="https://ixlab.cs.sfu.ca/" target="_blank"><img style="height: 100px; margin-top: 20px;margin-left: 5px; float: right;" src="/assets/groups/ixlab.svg"></a>
<h3><a href="https://ixlab.cs.sfu.ca/" target="_blank">ixLab</a></h3>
The Interactive Experiences Lab (ixLab) specializes in Human-Computer Interaction (HCI) and Information Visualization (InfoVis). The group uses an interdisciplinary, human-centered approach to invent, design, prototype and study novel interactive data visualization and computing systems with the overt intention to empower people, helping to make it more possible for them to tackle technology and data challenges in a variety of domains. See the group website at <b><a href="https://ixlab.cs.sfu.ca/" target="_blank">ixlab.cs.sfu.ca</a></b> for more information.
<!-- <br> -->
<hr class="section-separator-line">