The institute members cover a wide range of research areas, including:
<ul>
<li><mark class="tag-VC">VC</mark> : Visual Computing (graphics, vision, AI/ML, mathematical modeling, etc.)</li>
<li><mark class="tag-IC">IC</mark> : Interactive Computing (HCI, visualization, human-centred design, etc.)</li>
<li><mark class="tag-SI">SI</mark> : Social Implications (digital media, ethics, policy, philosophy, governance, etc.)</li>
<li><mark class="tag-DA">DA</mark> : Domain-Specific Applications (languages, health, music, learning, business, history, etc.)</li>
</ul>