The institute members cover a wide range of research areas, including:
<ul>
<li><mark class="tag-V">V</mark> : <b>V</b>isual Computing: graphics, vision, etc.</li>
<li><mark class="tag-I">I</mark> : <b>I</b>nteractive Computing: HCI, visualization, human-centred design, etc.</li>
<li><mark class="tag-N">N</mark> : I<b>N</b>telligent Computing: AI, ML, robotics, mathematical modeling, etc.</li>
<li><mark class="tag-C">C</mark> : <b>C</b>omputing & Society: digital media, ethics, policy, philosophy, governance, etc.</li>
<li><mark class="tag-A">I</mark> : <b>I</b>nterdisciplinary Applications: languages, health, music, learning, business, history, etc.</li>
</ul>