{% assign people = include.people %}

{%- if include.showLegend -%}
{%- include custom/legend.html -%}
{%- endif -%}

{%- if people.size > 0 -%}
<div>
  {%- if include.title -%}
    <h2>{{ include.title }}</h2>
  {%- endif -%}
  <div>
    {%- for person in people -%}
    <a class="person" href="{{ person.webpage | relative_url }}">
      {%- if person.photo -%}
        {% assign photo_url = '/assets/images/people/' | append: person.photo %}
        <img class="photo" src="{{ photo_url }}" alt="{{ person.name }}"/>
      {%- else -%}
        <div class="photo"></div>
      {%- endif -%}
      <div>
        {{ person.name }}
        <br>{{ person.department }}
        <br>
        {%- assign areas = person.area | split: "," -%}
        {% for area in areas %}
          <mark class="tag-{{ area }}">{{ area }}</mark>
        {% endfor %}
        <!-- <br>{{ person.tags }} -->
      </div>
    </a>
    {%- endfor -%}
  </div>
</div>
{%- endif -%}