<img class="title-image" src="/assets/title.png">

<h2>
  <mark class="red">VINCI</mark> is a research institute at SFU focusing on
  <mark class="red">V</mark>isual and
  <mark class="red">IN</mark>teractive
  <mark class="red">C</mark>omputing
</h2>

VINCI brings together faculty members across various SFU departments and faculties to collaborate on research and education in the areas of visual computing, interactive computing, social implications, and domain-specific applications.  The institute’s goal is to spearhead innovations in visual computing (VC), artificial intelligence (AI), and human-computer interaction (HCI).

We have a number of initiatives that can be supported through funding to VINCI.
<br/>
Support levels are: <b>S</b>ilver (1-10K); <b>G</b>old (10-100K); <b>P</b>latinum (100K+)

<ul>
<li><b>Meet & greet events</b>: mini-workshops with discussions and posters on topics within scope of VINCI, promoting socialization between institute membership, other SFU community members, industry, and government stakeholders.
</li>
<li><b>Seminar talk series</b>: regularly organized research seminars with invited speakers from SFU and other institutions. Open to institute membership, SFU VINCI students, and affiliates.
</li>
<li><b>Public outreach events</b>: outreach to high schools & other local educational institutions, as well as local communities, and government organizations.
</li>
<li><b>Student scholarships</b>: research bursaries and scholarships for VINCI students.
</li>
<li><b>Student travel grants</b>: support for student travel to conferences and workshops, to present research within the scope of VINCI.
</li>
<li><b>Conference presence</b>: support for branding and booth presence at conferences and related events to promote recruitment & visibility for institute activities.
</li>
<li><b>Student visit day</b>: support for organizing “visit day” where incoming VINCI graduate students can travel to SFU and interact with faculty members and other students.
</li>
<li><b>Seed project grants</b>: support new collaborative projects between VINCI membership.
</li>
<li><b>Equipment grants</b>: support purchase of specialized equipment enabling research in scope of VINCI. 
</li>
<li><b>Research coordinator support</b>: salary support for research coordinators to administer and coordinate institute events and other activities.
</li>
<li><b>Faculty protected research time</b>: teaching replacement costs enabling increased protected research time for VINCI faculty members.
</li>
<li><b>Space renovations & additions</b>: VINCI-affiliated lab space renovations and development of new spaces in existing or new buildings.
</li>
</ul>

If you are interested in supporting VINCI, please email <a href="mailto:vinci-directors@sfu.ca">vinci-directors@sfu.ca</a>. 