@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,400);

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #8c1515;
}

.photo {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}

.main {
  max-width: 1200pt;
  margin: auto;
  text-align: center;
}

.person {
  display: inline-block;
  width: 200pt;
  height: auto;
  margin: 10pt;
  text-align: center;
  position: relative;
  vertical-align: top;
  transition: box-shadow 0.3s;
}

.person:hover {
  box-shadow: #bbb 2pt 2pt 3pt;
}
