---
layout: post
---

<div>
  {%- if page.banner -%}
    <img style="display:block; margin:auto;" height="300px" src="{{page.banner}}"/><br/><br/>
  {%- endif -%}
  {{page.description}}<br/><br/>  
  {%- if page.talk and page.talk.speaker_photo -%}
    <img height="300px" src="{{page.talk.speaker_photo}}"/><br/><br/>
  {%- endif -%}
  {%- if page.date -%}
    <div><b>Date</b>: {{page.date | date: '%A %B %d, %Y'}}<br/><br/></div>
  {%- endif -%}  
  {%- if page.time -%}
    <div><b>Time</b>: {{page.time}}<br/><br/></div>
  {%- endif -%}  
  {%- if page.location -%}
    <div><b>Location</b>: {{page.location}}<br/><br/></div>
  {%- endif -%}  

  {%- if page.schedule -%}
    {%- include custom/schedule.html schedule=page.schedule -%}
  {%- endif -%}
  {%- if page.talk -%}
    {%- include custom/talk.html talk=page.talk -%}
  {%- endif -%}
  {%- if page.posters -%}
    {%- include custom/posters.html posters=page.posters -%}
  {%- endif -%}

  {%- if page.photos -%}
  <div>
      <b>Photos</b>:</br>
      {%- for photo in page.photos -%}
        <img height="300px" src="{{ photo }}""/>
      {%- endfor -%}
  </div>
  {%- endif -%}
</div>